body, html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url('./img/city.png');
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#street_light{
    position: absolute;
    height: 100px;
    z-index: 0;
    left: 250px;
    bottom: 80px;
    
}

.foreground img{
    position: absolute;
    height: 65px;
    bottom: 75px;
    left: 80px;
}

#couple1{
    position: absolute;
    height: 100px;
    bottom: 60px;
    left: 650px;
}

#bird{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 85px;
}

#car{
    position: absolute;
    height: 60px;
    bottom: 75px;
    left: 350px;
}